body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

h1 {
  margin: 2em 0 1em 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 80vw;
}

.lessons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.lessons>div {
  flex: 1;
  min-height: 100px;

  background-color: rgb(191, 225, 213);
  border: solid 2px #222;
}

